root = true

[*.cs]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 100
trim_trailing_whitespace = true

dotnet_diagnostic.IDE0004.severity = error
dotnet_diagnostic.IDE0005.severity = error
dotnet_diagnostic.IDE0010.severity = error
dotnet_diagnostic.IDE0035.severity = error
dotnet_diagnostic.IDE0043.severity = error
dotnet_diagnostic.IDE0059.severity = error
dotnet_diagnostic.IDE0072.severity = error
dotnet_diagnostic.IDE0079.severity = error
dotnet_diagnostic.IDE0080.severity = error
dotnet_diagnostic.IDE0240.severity = error
dotnet_diagnostic.IDE0241.severity = error
