(
    source_locale: "en-US",
    terms: "localization/terms.ron",
    source_bundle: "localization/bundles/en-US.trox.json",
    source_report: "localization/en-US.csv",
    sources: [(language: Rust, include: ["localization.rs"])],
    locales: {
        "fr": (
            profile: "localization/fr.ron",
            csv: "localization/fr.csv",
            bundle: "localization/bundles/fr.trox.json",
        ),
    },
)
